body{
	background-color: hsl(0, 0%, 90%) ;
	margin: 0;
}

.box-2{
	margin-top: 2%;
	margin-left: 0%;
	width: 400px;
	height: 450px;
	background-color: hsl(180, 100%, 40%);

	box-shadow: 30px 30px 20px rgb(0 0 0 /0.7);
	border: hsl(145, 50%, 100%) solid 3px;
	position: sticky;
	top: 0;
	}
	h2{
		font-family: 'Roboto',sans-serif;    
		font-size: 40px;
		
		padding-left: 20px;
		color:hsl(0,100%,0%);
		font-weight: 700;
	}
	.icons{
		color: hsl(500, 100%, 70%);
		font-size: 5em;
	}
	.diario{
		margin-top: 0%;
		
		
		
		height: 100px;
		padding-top: 2%;
		background-color: hsl(180, 100%, 50%);
		border: hsl(0, 0%, 0%) 4px solid;
		
		

	}
	h1{
		text-align: center;
		font-weight: 700;
		margin-top: -20px;
		color:  hsl(0, 50%, 60%);
		font-family: 'Roboto',sans-serif;    
		font-size: 60px;
	}
	ins{
		color: hsl(190, 100%, 90%);
	}


